.follow_box {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.article_box {
  width: 613px;
  height: 100px;
}
.article_inner {
  width: 613px;
  height: 168px;
  border-radius: 5px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 18px;
  margin-top: 30px;
}
.article_inner:nth-child(1) {
  margin-top: 0px;
}
/* 专栏 */
.itemTop {
  display: flex;
  justify-content: space-around;
  height: 30px;
}
.user_box {
  font-weight: 600;
}
.itemColumnTitle {
  font-size: 18px;
  font-weight: 800;
}
.itemArticleTitle {
  margin-top: 15px;
  color: #478dfc;
}
.itemTop img {
  margin-right: 10px;
}
.itemMain {
  color: #7f7f7f;
  margin-top: 10px;
}
