* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-color: #f1f1f1;
}
a {
  color: black;
}
html {
  height: 100%;
}
textarea {
  resize: none;
  border: none;
}
textarea:focus {
  outline: none;
}
#root {
  width: 100%;
  height: 100%;
}
input {
  border: none;
  line-height: normal;
}
input:focus {
  outline: none;
}
a {
  text-decoration: none;
}
